<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <service
            android:name=".service.MyChanelChatsService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.ChanelChatDetailsService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.BackgroundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.MyNotificationsService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.SocketService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.home.TestActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!--  -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.account.LoginAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.ChangePasswordAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.SettingAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.RegisterAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.account.ForgetPasswordAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.user_profile.MyUserProfileEditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.user_profile.MyUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.user_profile.GuestUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.user_profile.MyUserProfileCVActivity"
            android:exported="false" />
        <activity
            android:name=".view.user_profile.MyUserProfileEditSkillsActivity"
            android:exported="false" />
        <activity
            android:name=".view.team_profile.MyTeamsActivity"
            android:exported="false" />
        <activity
            android:name=".view.team_profile.TeamProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.team_profile.TeamProfileEditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.team_profile.TeamProfileViewMembersListActivity"
            android:exported="false" />
        <activity
            android:name=".view.request.RequestsListActivity"
            android:exported="false" />
        <activity
            android:name=".view.request.CreateRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.request.ViewRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.post.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".view.post.PostsListActivity"
            android:exported="false" />
        <activity
            android:name=".view.post.UserPostsActivity"
            android:exported="false" />
        <activity
            android:name=".view.post.PostDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.post.PostEditActivity"
            android:exported="false" />
        <activity
            android:name=".view.friend.MyFriendAndRequestsListActivity"
            android:exported="false" />
        <activity
            android:name=".view.friend.ViewFriendRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.friend.CreateFriendRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.chanel_chat.ChanelChatInsertMembersActivity"
            android:exported="false" />
        <activity
            android:name=".view.chanel_chat.ChanelChatViewMembersListActivity"
            android:exported="false" />
        <activity
            android:name=".view.chanel_chat.ChanelChatDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.chanel_chat.MyChanelChatsActivity"
            android:exported="false" />
        <activity
            android:name=".view.notification.MyNotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".view.project.ProjectViewMembersNowActivity"
            android:exported="false" />
        <activity
            android:name=".view.project.MyProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".view.project.ProjectDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.project.ProjectEditCategoryKeywordsActivity"
            android:exported="false" />
        <activity
            android:name=".view.project.ProjectEditTagsActivity"
            android:exported="false" />
        <activity
            android:name=".view.project.ProjectEditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.project.ProjectInvitingMembersActivity"
            android:exported="false" />
        <activity
            android:name=".view.project.ProjectNegativeReportsActivity"
            android:exported="false" />
        <activity
            android:name=".view.project.ProjectResourcesActivity"
            android:exported="false" />
        <activity
            android:name=".view.project.ProjectViewMembersHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.project.ProjectVoteStarActivity"
            android:exported="false" />

        <activity
            android:name=".view.search.SearchActivity"
            android:exported="false" />
    </application>

</manifest>